.pado-card{
    border: 1px solid black;
    text-align: center;
    max-width: 200px;
    img{
        width: 100%;
    }
    
}

.container{
    display: flex;
    gap: 5vh;
    flex-wrap: wrap;
}

